<!DOCTYPE html>
<html lang="en">
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div id="back">
      <div id="card">
        <img
          src="https://www.freeiconspng.com/uploads/facebook-png-icon-follow-us-facebook-1.png"
          alt=""
        />
        <h2>My Facebook</h2>
        <form action="/login" method="post">
          <input
            type="username"
            name="username"
            placeholder="Username"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <input type="submit" value="login" />
        </form>
        <a href="/">Register Now</a>
        <p>you need to register to the app before watching the content read, terms & conditions applied.</p>
      </div>
    </div>
  </body>
</html>
