<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div id="back">
      <div id="card">
        <img
          src="https://image.flaticon.com/icons/png/512/147/147144.png"
          alt=""
        />
        <h2>Name</h2>
        <h2>Email</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
          veritatis.
        </p>
        <a href="/login">Logout</a>
      </div>
    </div>
  </body>
</html>
